<div id="genre_form">
  <div class="container">
    <h1>
      <%-title%>
    </h1>
    <form method="post" action="">
      <div class="form-group">
        <label for="name">Genre: </label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Fantasy, Poetry etc." required='true' value="<%=(!genre) ? '' : genre.name%>">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <% if (errors){%>
    <ul>
      <% for (var i = 0; i < errors.length; i++) {%>
      <li>
        <%-errors[i].msg%>
      </li>
      <%}%>
    </ul>
    <%}%>
  </div>
</div>